:root {
    --cor-azul-claro: #8ecae6;
    --cor-azul: #023047;
    --cor-amarelo: #ffb703;
    --cor-laranja: #fb8500;
}

body {
    background-color: var(--cor-azul);
    
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}

button {
    color: #ffffff;
    background-color: var(--cor-amarelo);
    font-size: 22px;
    border-radius: 35px;
    padding: 13px 35px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-bottom: 25px;
    -webkit-box-shadow: 3px 10px 16px 6px rgba(0,0,0,0.3); 
    box-shadow: 3px 10px 16px 6px rgba(0,0,0,0.3);
}

button:hover {
    background-color: var(--cor-laranja); 
}

img {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
}