:root {
    --cor-azul-claro: #8ecae6;
    --cor-azul: #023047;
    --cor-amarelo: #ffb703;
    --cor-laranja: #fb8500;
}

body {
    background-color: var(--cor-azul);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    padding-top: 25px;
}

input {
    width: 400px;
    padding: 10px;
    font-size: 18px;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 3px 10px 16px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 10px 16px 6px rgba(0, 0, 0, 0.3);
}

textarea {
    width: 400px;
    padding: 10px;
    font-size: 18px;
    border-radius: 25px;
    border-width: 0px;
    outline: none;
    resize: none;
    -webkit-box-shadow: 3px 10px 16px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 10px 16px 6px rgba(0, 0, 0, 0.3);
}

.form-field {
    color: white;
    flex-direction: column;
    padding-top: 15px;
}

label {
    color: white;
    display: block;
    position: relative;
    padding-left: 8px;
    font-size: 20px;
    padding-bottom: 5px;
}

.required {
    color: rgb(198, 43, 43);
    font-size: 14px;
    padding-left: 7px;
}

button {
    color: #ffffff;
    background-color: var(--cor-amarelo);
    font-size: 22px;
    border-radius: 35px;
    padding: 13px 35px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-bottom: 25px;
    -webkit-box-shadow: 3px 10px 16px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 10px 16px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: var(--cor-laranja);
}

img {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
}

.sucess-transition {
    border: 2px solid var(--cor-amarelo);
    transition: border-color 0.5s ease-in-out;
}

.error-transition {
    border: 2px solid red;
    transition: border-color 0.5s ease-in-out;
}